# Bài tập Data Preprocessing

Download dữ liệu đính kèm và thực hiện các yêu cầu sau:

1. Hiển thị toàn bộ dữ liệu
2. Điền các giá trị bị thiếu của dữ liệu theo phương pháp trung bình với các trường có giá trị số và theo phương pháp tần số cao nhất với giá trị rời rạc
3. Hiển thị các bản ghi có sepal.length > 5 và sepal.width > 3
4. Chuẩn hóa dữ liệu theo min max
5. Liên tục hóa thuộc tính variety
6. Rời rạc hóa thuộc tính sepal.length 
7. Lấy mẫu ngẫu nhiên có lặp lại 50% dữ liệu

Đọc và hiển thị dữ liệu

In [50]:
import pandas as pd 
import numpy as np

In [51]:
data = pd.read_csv('P4AI_BT1.csv')

Bài 1: Hiện thị dữ liệu

In [52]:
data

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           NaN          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          NaN     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          NaN           5.0          1.9  Virginica
147           NaN          NaN           5.2          2.0  Virginica
148           NaN          3.4           NaN          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

Bài 2: Điền các giá trị bị thiếu của dữ liệu theo phương pháp trung bình với các trường có giá trị số và theo phương pháp tần số cao nhất với giá trị rời rạc

In [53]:
df1 = data.copy()
df1

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           NaN          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          NaN     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          NaN           5.0          1.9  Virginica
147           NaN          NaN           5.2          2.0  Virginica
148           NaN          3.4           NaN          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [54]:
df1.isna().sum()

sepal.length    15
sepal.width     15
petal.length    15
petal.width     15
variety         15
dtype: int64

In [55]:
# Chuẩn hóa các giá trị số sử dụng phương pháp trung bình 
df1['sepal.length'].fillna(round(data['sepal.length'].mean()), inplace=True)
df1['sepal.width'].fillna(round(data['sepal.width'].mean()), inplace=True)
df1['petal.length'].fillna(round(data['petal.length'].mean()), inplace=True)
df1['petal.width'].fillna(round(data['petal.width'].mean()), inplace=True)

# Chuẩn hóa các giá trị rời rạc sử dụng phương pháp tần số cao nhất 
df1['variety'].fillna(data['variety'].mode()[0], inplace=True)

df1

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           4.0          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          1.0     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          3.0           5.0          1.9  Virginica
147           6.0          3.0           5.2          2.0  Virginica
148           6.0          3.4           4.0          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

Bài 3: Hiển thị các bản ghi có sepal.length > 5 và sepal.width > 3

In [56]:
df2 = df1.copy() 

df2[(df2['sepal.length'] > 5) & (df2['sepal.width'] > 3)]

     sepal.length  sepal.width  petal.length  petal.width     variety
0             5.1          3.5           1.4          0.2      Setosa
5             5.4          3.9           1.7          0.4      Setosa
6             6.0          3.4           1.4          0.3      Setosa
7             6.0          3.4           1.5          0.2      Setosa
10            5.4          3.7           1.5          0.2      Setosa
15            5.7          4.4           1.5          1.0      Setosa
16            5.4          3.9           1.3          0.4      Setosa
17            5.1          3.5           1.4          0.3   Virginica
18            5.7          3.8           1.7          1.0      Setosa
19            5.1          3.8           1.5          0.3      Setosa
20            5.4          3.4           4.0          0.2      Setosa
21            5.1          3.7           4.0          0.4      Setosa
23            5.1          3.3           1.7          0.5      Setosa
27            5.2          3.5           1.5          0.2   Virginica
28            5.2          3.4           1.4          0.2      Setosa
31            5.4          3.4           1.5          0.4      Setosa
32            5.2          4.1           1.5          0.1      Setosa
33            5.5          4.2           1.4          0.2   Virginica
36            5.5          3.5           1.3          0.2      Setosa
39            5.1          3.4           1.5          0.2      Setosa
43            6.0          3.5           1.6          0.6      Setosa
44            5.1          3.8           1.9          1.0      Setosa
46            5.1          3.8           1.6          0.2      Setosa
47            6.0          3.2           1.4          0.2      Setosa
48            5.3          3.7           1.5          0.2      Setosa
50            7.0          3.2           4.7          1.4   Virginica
51            6.4          3.2           4.5          1.0  Versicolor
52            6.0          3.1           4.9          1.5  Versicolor
56            6.3          3.3           4.7          1.6  Versicolor
65            6.7          3.1           4.4          1.4  Versicolor
70            5.9          3.2           4.8          1.8   Virginica
85            6.0          3.4           4.5          1.6  Versicolor
86            6.7          3.1           4.7          1.5  Versicolor
100           6.3          3.3           6.0          1.0   Virginica
110           6.5          3.2           5.1          2.0   Virginica
115           6.4          3.2           5.3          2.3   Virginica
117           7.7          3.8           6.7          2.2   Virginica
120           6.9          3.2           5.7          2.3   Virginica
124           6.7          3.3           5.7          2.1   Virginica
125           7.2          3.2           6.0          1.8   Virginica
131           7.9          3.8           6.4          2.0   Virginica
136           6.3          3.4           5.6          2.4   Virginica
137           6.4          3.1           5.5          1.8   Virginica
139           6.9          3.1           5.4          1.0   Virginica
141           6.9          3.1           5.1          2.3   Virginica
143           6.8          3.2           5.9          2.3   Virginica
148           6.0          3.4           4.0          2.3   Virginica

Bài 4: Chuẩn hóa dữ liệu theo min max

![m](https://github.com/UocNTh/python_for_AI/blob/main/Image/min_max_normalisation.jpg?raw=true)

Trong đó: 

- Xnew    : Giá trị sau khi chuẩn hóa 

- Xi      : Giá trị trước khi chuẩn hóa 

- min(X)  : Giá trị nhỏ nhất của trường dữ liệu 

- max(X)  : Giá trị lớn nhất của trường dữ liệu

In [57]:
df3 = df2.copy() 

def normalized_data(df, p) : 
    p_min = df[p].min() 
    p_max = df[p].max() 

    df[p] = (df[p] - p_min)/(p_max - p_min)

In [58]:
normalized_data(df3,'sepal.length')
normalized_data(df3,'sepal.width')
normalized_data(df3,'petal.length')
normalized_data(df3,'petal.width')
df3

     sepal.length  sepal.width  petal.length  petal.width    variety
0        0.222222     0.625000      0.067797     0.041667     Setosa
1        0.166667     0.416667      0.508475     0.041667     Setosa
2        0.111111     0.500000      0.050847     0.041667     Setosa
3        0.083333     0.458333      0.084746     0.375000     Setosa
4        0.194444     0.666667      0.067797     0.041667     Setosa
..            ...          ...           ...          ...        ...
145      0.666667     0.416667      0.711864     0.916667  Virginica
146      0.555556     0.416667      0.677966     0.750000  Virginica
147      0.472222     0.416667      0.711864     0.791667  Virginica
148      0.472222     0.583333      0.508475     0.916667  Virginica
149      0.444444     0.416667      0.694915     0.708333  Virginica

[150 rows x 5 columns]

Bài 5: Liên tục hóa thuộc tính variety

Liên tục hóa một thuộc tính trong AI có thể được hiểu như việc chuyển đổi một thuộc tính có dạng không số hoặc có dạng rời rạc thành dạng số liên tục.

Điều này thường được thực hiện để các thuộc tính đó có thể được sử dụng trong các thuật toán học máy hoặc mô hình AI có yêu cầu dữ liệu số.

In [59]:
df4 = df3.copy() 
df4['variety'].unique()

array(['Setosa', 'Virginica', 'Versicolor'], dtype=object)

In [60]:
dummies = pd.get_dummies(df4['variety'])
dummies

     Setosa  Versicolor  Virginica
0         1           0          0
1         1           0          0
2         1           0          0
3         1           0          0
4         1           0          0
..      ...         ...        ...
145       0           0          1
146       0           0          1
147       0           0          1
148       0           0          1
149       0           0          1

[150 rows x 3 columns]

In [61]:
# Nối các trường dữ liệu 

df4 = pd.concat([df4,dummies], axis=1) 
df4

,sepal.length,sepal.width,petal.length,petal.width,variety,Setosa,Versicolor,Virginica
0,0.222222,0.625000,0.067797,0.041667,Setosa,1,0,0
1,0.166667,0.416667,0.508475,0.041667,Setosa,1,0,0
2,0.111111,0.500000,0.050847,0.041667,Setosa,1,0,0
3,0.083333,0.458333,0.084746,0.375000,Setosa,1,0,0
4,0.194444,0.666667,0.067797,0.041667,Setosa,1,0,0
...,...,...,...,...,...,...,...,...
145,0.666667,0.416667,0.711864,0.916667,Virginica,0,0,1
146,0.555556,0.416667,0.677966,0.750000,Virginica,0,0,1
147,0.472222,0.416667,0.711864,0.791667,Virginica,0,0,1
148,0.472222,0.583333,0.508475,0.916667,Virginica,0,0,1
149,0.444444,0.416667,0.694915,0.708333,Virginica,0,0,1

In [62]:
# Xóa bỏ trường variety 

df4.drop('variety', axis=1, inplace=True)
df4

,sepal.length,sepal.width,petal.length,petal.width,Setosa,Versicolor,Virginica
0,0.222222,0.625000,0.067797,0.041667,1,0,0
1,0.166667,0.416667,0.508475,0.041667,1,0,0
2,0.111111,0.500000,0.050847,0.041667,1,0,0
3,0.083333,0.458333,0.084746,0.375000,1,0,0
4,0.194444,0.666667,0.067797,0.041667,1,0,0
...,...,...,...,...,...,...,...
145,0.666667,0.416667,0.711864,0.916667,0,0,1
146,0.555556,0.416667,0.677966,0.750000,0,0,1
147,0.472222,0.416667,0.711864,0.791667,0,0,1
148,0.472222,0.583333,0.508475,0.916667,0,0,1
149,0.444444,0.416667,0.694915,0.708333,0,0,1

Bài 6: Rời rạc hóa thuộc tính sepal.length

- bins  : là khoảng cần rời rạc
- labels: là nhãn gắn vào các khoảng tương ứng

In [64]:
df5 = df4.copy() 
df5['sepal.length'] = pd.cut(df5['sepal.length'], bins=[-0.1, 0.2, 0.4, 0.6, 0.8, 1], labels=["Very Low", "Low", "Medium", "High", "Very High"])
df5

,sepal.length,sepal.width,petal.length,petal.width,Setosa,Versicolor,Virginica
0,Low,0.625000,0.067797,0.041667,1,0,0
1,Very Low,0.416667,0.508475,0.041667,1,0,0
2,Very Low,0.500000,0.050847,0.041667,1,0,0
3,Very Low,0.458333,0.084746,0.375000,1,0,0
4,Very Low,0.666667,0.067797,0.041667,1,0,0
...,...,...,...,...,...,...,...
145,High,0.416667,0.711864,0.916667,0,0,1
146,Medium,0.416667,0.677966,0.750000,0,0,1
147,Medium,0.416667,0.711864,0.791667,0,0,1
148,Medium,0.583333,0.508475,0.916667,0,0,1
149,Medium,0.416667,0.694915,0.708333,0,0,1

Bài 7: Lấy mẫu ngẫu nhiên có lặp lại 50% dữ liệu

Cách lấy mẫu khung dữ liệu trong Python Pandas

- Lấy mẫu ngẫu nhiên
- Lấy mẫu với điều kiện 
- Lấy mẫu với tốc độ không đổi


[Tham khảo](https://ichi.pro/vi/cach-lay-mau-khung-du-lieu-trong-python-pandas-230391466627995)

Lấu mẫu ngẫu nhiên

Cho một khung dữ liệu có N hàng, lấy mẫu ngẫu nhiên trích xuất X hàng từ khung dữ liệu

Python Pandas cung cấp hàm sample()

Số lượng mẫu cần thiết có thể được biểu thị theo hai cách khác nhau:

- Chỉ định số hàng ngẫu nhiên chính xác để trích xuất
- Chỉ định phần trăm các hàng ngẫu nhiên để trích xuất. Tỷ lệ phần trăm được biểu thị bằng một số từ 0 đến 1.

In [66]:
df6 = df5.copy() 

sample_data = df6.sample(frac=0.5)

sample_data

,sepal.length,sepal.width,petal.length,petal.width,Setosa,Versicolor,Virginica
86,High,0.458333,0.627119,0.583333,0,1,0
28,Low,0.583333,0.067797,0.041667,1,0,0
144,High,0.416667,0.796610,1.000000,0,0,1
8,Very Low,0.375000,0.067797,0.041667,1,0,0
63,Medium,0.375000,0.627119,0.375000,0,1,0
...,...,...,...,...,...,...,...
146,Medium,0.416667,0.677966,0.750000,0,0,1
94,Low,0.291667,0.542373,0.500000,0,1,0
132,Medium,0.333333,0.779661,0.875000,0,0,1
110,High,0.500000,0.694915,0.791667,0,0,1
122,Very High,0.333333,0.966102,0.791667,0,0,1

-----------------------UocNguyen-----------------------

------


[Thư viện Pandas](https://blog.luyencode.net/thu-vien-pandas-python/)

[Thư viện Numpy](https://codelearn.io/sharing/tim-hieu-thu-vien-numpy-trong-python)